{% extends 'layouts/base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">

            <form method="POST" class="card card-body">

                <h1 class="display-3 text-center">create task</h1>

                <p style="color: #FF0000;">{{error}}</p>

                {% csrf_token %}

                {{form}}

                <button class="btn btn-primary">
                    Save
                </button>

            </form>
        </div>
    </div>
</main>

{% endblock %}