{% extends 'layouts/base.html' %}

{% block content %}



<main class="container">
    <div class="row col-md-4 offset-md-4">
        <form method="POST" class="card card-body mt-5">
            <h1 class="text-center">Sign up</h1>
        
            <p style="color: #FF0000;">{{error}}</p>
            {% csrf_token %}
        
            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="write your username">
            </div>

            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" name="password1" class="form-control" id="password" placeholder="write your password">
            </div>

            <div class="mb-3">
                <label for="password2">Confirm your password:</label>
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm your password">
            </div>
        
            <button class="btn btn-primary">
                Sign up
            </button>
        </form>
    </div>
</main>

{% endblock %}